Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Cheweee 
dotnet
/
core
Public
Code
Issues
377
Pull requests
4
Actions
Projects
Security
Insights
core/.gitignore
@pavinthan
pavinthan Add jetbrains folder to .gitignore (#2320)
Latest commit 718ec99 on 27 Feb 2019
 History
 5 contributors
@richlander@geek@Petermarcu@pavinthan@terrajobst
37 lines (32 sloc)  341 Bytes
   
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#Nuget packages folder
packages/
*.dll


node_modules/
dist/